{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_PROJECT_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_APP_ID:android:YOUR_APP_HASH",
        "android_client_info": {
          "package_name": "com.example.pizza_app_8sc_gmao"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
